.work-space {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    /*background-color: blue;*/
}

.workspace {
    width: 500px;
    height: 250px;
    background-color: #ff8f1a;
}

.dropdown-content {
    padding: 10px;
    margin-top: 10px;
    margin-left: 135px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: ghostwhite;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display: flex;}

.div-for-toggle-info{
    width: 500px;
    margin: 5px;
    display: flex;
    /*background-color: red;*/
}

table {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    padding: 5px;
    background: #fb99ff;
    border: 1px solid #a5a5a5;
}

td {
    border: 1px solid #a5a5a5;
    padding: 5px;
}

tr:nth-child(2n+1) {
    background: #efefef;
}

.div_logout{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 40%;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
